html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    font-family: "Avenir", "YuGothic";
    background-color: #fafafa;
    margin: 0;
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 0.05em solid #aaaaaa;
    padding: 0.7em;
    margin: 0;
}

.header-item2 {
    flex-grow: 2;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-username {
    margin-inline-end: 0.5em;
}

.header-logo:link, :visited, :hover, :active {
    font-size: 2em;
    font-weight: lighter;
    color: #707070;
}

.new_post_button {
    position: fixed;
    bottom: 10%;
}

a {
    text-decoration: none
}

a:hover {
    font-size: inherit;
    font-weight: inherit;
}


.line-container {
    text-align: center;
    margin: 0 auto;
}
@media screen and (min-width: 400px) {
    
    .post-container {
        width: calc(400px - 3.5em);
    }
}


.button {
    color: #fdfdfd;
    background-color: #56739b;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    position: relative;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    
}

.button:hover {
    background-color: #7495C3;
    font-weight: 600;
    
}



.button-container {
    text-align: center;
    margin: 1.5rem;
}



.normal-container {
    text-align: center;
    padding: 1.5rem;
    margin: 0.7rem;
    background-color: #ededed;
    border-radius: 1rem;
    
}

.big-message {
    color: #505050;
    font-size: 1.5em;
    
}

.small-link {
    color: #56739b;
    display: inline-block;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.small-link:hover {
    background-color: #deeaf0;
    border-radius: 1em;
}



.post-container {
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 1.3rem;
    margin: 1.5rem 0.7rem;
    background-color: #f7f7f7;
    border-radius: 2rem;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0s;
}

.post-container:hover {
    position: relative;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(0.1em);
    background-color: #f9f9f9;
    
}




.post-account-container {
    position: relative;
    margin: 0em 0em 0.7em 0em;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 10;
}


.post-account {
    color: #707070;
    font-size: 1em;
    font-weight: 500;
    margin-inline-start: 0.5em;
}
.post-account:hover {
    font-weight: 500;
}

.post_profile_pic {
    width: 2em;
    border-radius: 1em;
}



.post-image {
    width: 100%;
    border-radius: 1rem;
}

.post-text {
    color: #404040;
    font-size: 1em;
    line-height: 1.7em;
    
}

.post-date {
    color: #707070;
    font-size: 0.8em;
    text-align: right;
    
}

.post-container .post-clicklayer {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

}

.profile-image {
    width: 30;
    border-radius: 1rem;
}


.profile-image-info {
    width: 70;
    border-radius: 200rem;
}

.like_button {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : rgba(1, 1, 1, 0.0);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    /*box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #888888;    /* 枠の指定 */
    border-radius: 200rem;
}

.like_button.on {
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : rgb(173, 19, 78);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    /*box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid rgb(173, 19, 78);;    /* 枠の指定 */
    border-radius: 200rem;
}

.like_button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    background    : #ffffff;     /* 　背景色     */
}

.like_button.on:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    background    : #AA3333;     /* 背景色     */
}























