{% load static %}

{% for post in posts %}
    <div class="post-container">
        <div class="post-account-container">
        <a href="{% url 'user_post_list' username=post.author.username %}">
            <img class="post_profile_pic" src="{{MEDIA_URL}}{{post.author.profile_pic.thumbnail}}">
            <a class="post-account" href="{% url 'user_post_list' username=post.author.username %}">{{ post.author.username}}</a>
        </a>
        </div>

        {% if post.picture != null and post.picture != blank and post.picture != "" %}
            <img src='{{ MEDIA_URL }}{{post.picture}}' class="post-image">
        {% endif %}

        <p class="post-text">
            {{ post.text|linebreaksbr }}
        </p>
        <div class="post-date">
            {{ post.published_date }}
        </div>
        <a class="post-clicklayer" href="{% url 'post_detail' pk=post.pk %}"></a>
    </div>
{% endfor %}
