{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
     {% for post in posts %}
        <div>
            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h2>
            {% if post.picture != null and post.picture != blank and post.picture != "" %}
                <img src='{{ MEDIA_URL }}{{post.picture}}' width=200>
            {% endif %}
            <p>
                {{ post.text|linebreaksbr }}
            </p>
            <div>
                {{ post.published_date }}
            </div>
        </div>
    {% endfor %}
{% endblock %}