{% extends 'blog/base.html' %}

{% block content %}
    <div>
        {% if post.published_date %}
            <div>
                {{ post.published_date }}
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        {% if user.is_authenticated %}
            {% ifequal abc abcd %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">edit</a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">delete</a>
            {% else %}
            {% endifequal %}
        {% endif %}
        <br>
        {% if post.picture != null and post.picture != blank and post.picture != "" %}
            <img src='{{ MEDIA_URL }}{{post.picture}}' width=200>
        {% endif %}
        <p>written by {{ post.author }}</p>
        <p>{{ post.text|linebreaksbr }}</p>

        <form name="name_form" action="{% url 'post_like' pk=post.pk %}" method="POST">
            {% csrf_token %}
            {% if is_like == 1 %}
                <input id="like" class="on like_button" type="submit" value=""> 
            {% else %}
                <input id="like" class="like_button" type="submit" value=""> 
            {% endif %}
        </form>


        <a href="{% url 'comment_create' pk=post.pk %}">Comment</a><br>
        {% for comment in comment %}
            <div class="post-container">
                <div class="post-account-container">
                    <a href="{% url 'user_post_list' username=comment.comment_author.username %}">
                    <img class="post_profile_pic" src="{{MEDIA_URL}}{{comment.comment_author.profile_pic.thumbnail}}">
                    <a class="post-account" href="{% url 'user_post_list' username=comment.comment_author.username %}">{{ comment.comment_author.username}}</a>
                    </a>
                </div>
                 <p class="post-text">
                    {{ comment.comment_text|linebreaksbr }}
                </p>
                <div class="post-date">
                    {{ comment.created_date }}
                </div>
            </div>
        {% endfor %}
    </div>


    {% if user.is_authenticated %}
    <script>
        $("form").submit( function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
              url: form.prop("action"),
              method: form.prop("method"),
              data: form.serialize(),
              timeout: 10000,
              dataType: "json",
            })
            .done( function(data) {
              if (data.like == true){
                $('#like').addClass('on')
              }else{
                $('#like').removeClass('on')
              }
            })
        });
    </script>
    {% endif %}
{% endblock %}