{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!--<table>
            <tr>
                <td>{{ form.text.label_tag }}</td>
                <td>{{ form.text }}</td>
            </tr>
            <tr>
                <td>{{ form.picture.label_tag }}</td>
                <td>{{ form.picture }}</td>
            </tr>
        </table>-->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}