{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    {% if person.profile_pic != null and person.profile_pic != blank and person.profile_pic != "" %}
    <img src='{{ MEDIA_URL }}{{person.profile_pic.thumbnail}}' class = 'profile-image-info'>
    {% endif %}
    <p>{{ person.username }}</p>
    {{ person.bio }}<br><br>

    <form name="name_form" action="{% url 'user_follow' username=person.username %}" method="POST">
        {% csrf_token %}
        {% if is_follow == 1 %}
            <input id="like" class="on follow_button" type="submit" value="Following"> 
        {% else %}
            <input id="like" class="follow_button" type="submit" value="Follow"> 
        {% endif %}
    </form>

    {% include "blog/base_post_list.html" %}
    
    {% if user.is_authenticated %}
    <script>
        $("form").submit( function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
              url: form.prop("action"),
              method: form.prop("method"),
              data: form.serialize(),
              timeout: 10000,
              dataType: "json",
            })
            .done( function(data) {
              //alert("done");
              var btn = document.getElementById('like');
              if (data.like == true){
                $('#like').addClass('on')
                btn.value = "Following"
              }else{
                $('#like').removeClass('on')
                btn.value = "Follow"
              }
              $("#id_div_ajax_response").text(data.text);
            })
        });
    </script>
    {% endif %}
{% endblock %}
